<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (error) { %> <% error.split(",").forEach(err => { %>
    <p style="color: #ff0000"><%= err %></p>
    <% }) %> <% } %>

    <h4>Name: <%= user.Profile.name %></h4>
    <h4>Email: <%= user.email %></h4>

    <form action="/admin/edit/<%= user.id %>" method="post">
      <label for="">New password</label>
      <input type="password" name="password" id="" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
