<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Register</h1>
    <% if (error) { %> <% error.split(",").forEach(err => { %>
    <p style="color: red"><%= err %></p>
    <% }) %> <% } %>
    <form action="/register" method="post">
      <div>
        <label for="">Name</label>
        <input type="text" name="name" />
      </div>

      <div>
        <label for="">Email</label>
        <input type="text" name="email" />
      </div>

      <div>
        <label for="">Password</label>
        <input type="password" name="password" id="" />
      </div>
      <button type="submit">Register</button>
    </form>

    <div>Already have an account? <a href="/login">Login</a></div>
  </body>
</html>
