<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <a href="/logout">Log out</a>
    </div>
    <% if (error) { %> <% error.split(",").forEach(err => { %>
    <p style="color: red"><%= err %></p>
    <% }) %> <% } %>
    <a href="/qr">Begin diagnosis</a>
  </body>
</html>
