<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Scan this qr to read more about covid 19</h1>
    <img src="<%= qr %>" alt="No image" />
    <a href="/diagnose">Next</a>
  </body>
</html>
